*{ margin: 0; padding: 0;  list-style: none; text-decoration: none; color:var(--black); font-family: poppins;}
:root{
    --white:#fff;
    --black:#000;
    --colr:#234;
    --colr2:rgb(248, 235, 235);
    --colr3:rgb(126, 133, 126);
    --colr4: rgb(231, 231, 231);
}
/* footer */
footer{
    background-color: beige;  
    font-family: poppins;
    font-size: small;
    a,p{color: var(--colr);}
    .footer-tp{
        display: flex;
        margin: 2vw;
        padding: 1vh 2VW;
        justify-content: space-between;
        ul{
            border-right:1px solid ;
            margin: 2vh 0 2vh 0;
            display: flex;
            flex-flow: column;
            gap: 0.5vh;
            li{width: 100px;}
        }
        .footr-rgt{ padding: 0vh 2vw; margin: 2vh 0 0 0;}
    }
    .footer-btm{
        border-top: 1px solid rgb(211, 195, 195);
        text-align: center;
        padding: 2vh 0 1vh 0;
    }
}

/* media queries header*/
@media only screen and (min-width:1245px){
    /*  */
}
@media only screen and (min-width:1080px) and (max-width:1244px) {
    /*  */
}
@media only screen and (min-width:721px ) and (max-width:1079px){
   /*  */   
}
@media only screen and (max-width:720px) {
   
}
@media only screen and (max-width:575px) {
    footer{
        .footer-tp{
            flex-wrap: wrap;
            ul{
                border: none;
            }
            .footr-rgt{padding: 1vh  0 0 0}
        }
    }
}
     