:root{
    --white:#fff;
    --black:#000;
    --colr:#234;
    --colr2:rgb(248, 235, 235);
    --colr3:rgb(126, 133, 126);
    --colr4: rgb(231, 231, 231);
}
h3{ background:linear-gradient(90, blue, red);}

/* body */
.hero{
    box-shadow: 0px 0px 10px;
    padding: 2vh 1vw;
    width: 100%;
    margin: 10vh auto;
    box-sizing:border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .input-box{ width: fit-content; display: flex; flex-direction: column;}
    label{ margin-right:vw; font-weight: 500;}
    input,select{ margin: 0vh 0 4vh 0 ; width: 90%;}
}
button{
    border-radius: 1vw;
    border: none;
    background-color:black;
    color:white;
    padding: .5vh 1.5vw;
    cursor: pointer;
}
button:hover{background-color: beige; color: black; }
button:active{transform: scale(1.1,1.1);}

/* table */
table{
    margin: auto; 
    border-collapse: collapse;
    box-shadow: var(--colr) 0px 0px 10px;
}
th{text-align: left; background-color:var(--colr); color:white;}
td,tr{ border: 1px solid var(--colr2);border-collapse: collapse;}
th,td{padding:0.75vh 2vw;}

tr:nth-child(odd){
    background-color: var(--colr3);
}
tr:nth-child(even){
    background-color:var(--colr);
}
section{
    width: 80%;

    box-sizing:border-box ;
    margin: 5vh auto 0 auto;
    /* background-color: aqua;
    background-image:linear-gradient(to bottom , rgb(248, 235, 235), rgb(126, 133, 126), rgb(231, 231, 231)); */
    padding: 2vw 1vw;
    border-radius: 15px;
}



/* media queries */
@media only screen and (min-width:1245px){
    /*  */
}

@media only screen and (min-width:1080px) and (max-width:1244px) {
    /* section{  padding: 2vw 1vw;
    } */
}
@media only screen and (min-width:721px ) and (max-width:1079px){
      /* section{  padding: 1vw 2vw; } */
}
@media only screen and (max-width:720px) {
    section{  padding: 4vw 5vw; }
}
     