*{ margin: 0; padding: 0;  box-sizing: border-box; text-decoration: none;}
body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
}
form{
    background-color: aqua;
    background-image:linear-gradient(to bottom right, rgb(248, 235, 235), rgb(126, 133, 126), rgb(231, 231, 231));
    padding: 3vw;
    border-radius: 15px;
    width: 60vw;
    h1{ text-align: center; margin: 2vh; font-size: 2em;}
    p{ text-align: center; margin: 2vh}
    a{font-weight: bold; color: rgb(41, 0, 41);}
    .forgot-password{
        margin: 2vh 0;
    }
    input{
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 1vw;
        margin: 2vh 0;
        width: 100%;
    }
    input[type=submit]{
        margin-top: 5vh;
        padding: .5vh 1.5vw;
    }
    .button{
        background-color:black;
        color:white;
        margin: 5vh 2vw 0 0 ;
        padding: 1vh 2vw;
        cursor: pointer;
    }
    .button:hover{background-color: beige; color: black; }
    .button:active{transform: scale(1.1,1.1);}  
}
@media only screen and (min-width:800Px) {
    form{
        max-width: 40vw;
    }
    
}